.shadow
  %h1 News
  %h2 Mayer to conduct workshop
  %p
    Peter Mayer will conduct a guitar workshop before his concert on October 15, 2011. Contact
    = mail_to 'dkrehbiel@dallasuu.org', 'Don Krehbiel'
    for more information, or to sign up.
  %p There is a $50 fee for the workshop.