.shadow
  %h1 News
  %h2 Peter Mayer to conduct workshop
  %p
    Peter Mayer will offer a two-hour workshop on writing music and playing guitar the morning of his concert on October 15, 2011, 10:00am to noon. Contact
    = mail_to 'mquigley@dallasuu.org', 'Martha Quigley'
    for more information, or to sign up.
  %p There is a $20 fee per participant.