%section#home
  .page-header
    %h1 About Concerts in the Clearing
  .row
    .span12.columns
      %p Concerts in the Clearing are the work of Artistic Director Donald Krehbiel.
      %p Don has been a fixture on the Dallas musical scene for many years. He is the founder and Artistic Director of Orpheus Chamber Singers, the highly acclaimed Dallas-based vocal ensemble. He has served as Director of Music at First Unitarian Church of Dallas since 1989.
      %p With guidance, financial support, and production support from a team at First Unitarian Church, Concerts in the Clearing aims to bring high-quality music to Dallas, particularly including artists or performances that one might not see elsewhere in the city. The concerts are not (specifically) religious in nature, and we think you will have a comfortable, enjoyable experience whatever your personal beliefs.
      %p A primary goal of the concert series is to engage audience members with each other and with performers. A catered reception follows each event, where concert-goers can relax with fellow music-lovers and perhaps make a new friend.
      %h2 The venue
      %p All Concerts in the Clearing take place at
      %address
        4015 Normandy Ave<br />
        Dallas TX 75205
      %p We are located at the First Unitarian Church of Dallas, about a block north of Mockingbird on Preston Rd, immediately south of the Park Cities YMCA.
    .span4.columns
      = render 'logo'
