%section#home
  .page-header
    %h1 Concerts in the Clearing
  .row
    .span16.columns
      %p Short, general, persuasive intro to the concert series. *Not* concert-specific, since that can go on the Concerts page.
      %p
        Note from Don Krehbiel and maybe Steve. "Bring you excellent music that you won't easily find elsewhere in Dallas, and
        provide it in an intimate setting with opportunities to mingle with fellow music-lovers and meet the artists.
      %p
        There is a suggested donation amount for each concert, but we welcome all who would like to join us. Pay if and as much
        as fits your current circumstances.
