%section#home
  .page-header
    %h1 Concerts in the Clearing
  .row
    .span12.columns
      %p Short, general, persuasive intro to the concert series. *Not* concert-specific, since that can go on the Concerts page.
      %p
        Note from Don Krehbiel and maybe Steve. "Bring you excellent music that you won't easily find elsewhere in Dallas, and
        provide it in an intimate setting with opportunities to mingle with fellow music-lovers and meet the artists.
      %p
        There is a suggested donation amount for each concert, but we welcome all who would like to join us. Pay if and as much
        as fits your current circumstances.
      %p   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis adipiscing elementum. Sed rutrum, massa at sagittis rhoncus, elit urna consequat neque, sit amet ornare lacus eros et eros. Proin tempor tellus non purus iaculis hendrerit. Donec et semper lorem. Curabitur suscipit tellus neque. Praesent molestie lobortis euismod. Donec imperdiet mauris vitae mi convallis molestie ut vel odio. Aliquam elementum interdum nisl, et commodo metus mollis vitae. Morbi massa justo, venenatis a ultricies sit amet, dignissim tristique diam. Morbi scelerisque odio a libero pharetra vehicula.
      %p Donec auctor bibendum sapien id dictum. Suspendisse fringilla, orci et aliquam suscipit, odio dui vehicula mi, quis pharetra lectus lectus eu quam. Fusce ut diam diam, quis auctor tortor. Pellentesque rutrum semper hendrerit. Quisque aliquam elit et nisl aliquam ac aliquam lectus egestas. Fusce sit amet ipsum vitae ligula malesuada semper gravida vel turpis. Duis faucibus pretium risus quis faucibus. Vestibulum convallis adipiscing semper. Proin tincidunt vehicula faucibus. Aliquam eu dui aliquam tortor laoreet tempus. Integer consectetur nulla eget ipsum suscipit ut aliquam tellus sollicitudin. Quisque vehicula nisl et lectus dapibus laoreet. Pellentesque molestie arcu vel est interdum nec porta est congue. Sed blandit ullamcorper risus, et tempus nulla sodales et.
      %p Morbi interdum lacus non diam ultricies nec accumsan est bibendum. Sed quis ultrices nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi in urna ut erat fermentum elementum eu at mauris. Nunc quis pulvinar magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce et viverra elit. Sed nec tellus at tortor convallis fermentum eget ut sem. Sed dui sapien, placerat eu sagittis bibendum, consequat et ante. Proin tortor turpis, adipiscing nec volutpat vitae, pellentesque vel leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut erat dui. Phasellus justo urna, malesuada sit amet interdum at, aliquet et est.
    .span4.columns
      = render 'logo'
      .vertical-separation
      = render 'news'