/* --- Bootstrap overrides --- */

.topbar {
  ul {
    li {
      a {padding: 13px 10px 11px}
    }
  }
}

h2 {
  line-height:1.0em;
  margin-bottom:0.5em;
}

/* --- end of Bootstrap overrides --- */

.shadow {
	padding: 20px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.vertical-separation {
  min-height:1.0em
}

.subnav {
	margin-left:1.0em;
}