@import 'bootstrap.less';

/* --- Bootstrap overrides --- */

.topbar {
  ul {
    li {
      a {padding: 13px 10px 11px}
    }
  }
}

h2 {
  line-height:1.0em;
  margin-bottom:0.5em;
}

.alert-message div {
	line-height:inherit;
}

/* --- end of Bootstrap overrides --- */

.shadow, .home-concert {
	padding: 14px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.vertical-separation {
  min-height:1.0em
}

.subnav {
	margin-left:1.0em;
}

ul.pills.concert-nav li {

	margin-bottom:1.0em;

	a {
		line-height:1.2em;
		font-size:1.5em;
	}
	
	span.concert-date {
		color:gray;
		font-size:0.75em;
	}
}

.home-concert {
	position:relative;
	height:31em;
	margin-bottom:1.0em;
	h1 {
		font-size:1.8em;
		line-height:1.0em;
	}
	h2 {
		font-size:1.0em;
		color:@green;
	}
	h3 {
		font-size:1.0em;
		line-height:inherit;
	}
	.artist-graphic {
		position:absolute;
		left:0;
		top:300px;
	}
	.tickets {
		margin:-10px 0 7px 0;
	}

}

.current {
	background-color:@yellow;
}

.printable-ticket {
	.media-grid;
	img {
    margin:0;
    border: 1px solid #ddd;
    .border-radius(4px);
    .box-shadow(0 1px 1px rgba(0,0,0,.075));
     display: block;
	}
	.ticket-id {
		margin-top:0.5em;
		text-align:center;
		font-family: Monaco, Andale Mono, Courier New, monospace;
		p {
			font-size:0.9em;
			line-height:0.6em;
		}
	}
	.ticket-body {
		margin-top:3.0em;
		margin-left:6.0em;
		h1, h2, h3, h4, p {
			color:white;
		}
		h4 {
			padding:0;
		}
	}
}