.alert-message.block-message.info
  %p
    This concert, like all Concerts in the Clearing, is free to all. For
    those who are able to help us fund these unique performances, we suggest
    a donation of $10.00 per ticket. Donations can be made to First
    Unitarian Church of Dallas, the home of this concert series, by&nbsp;
    %span>= link_to 'clicking here', 'http://dallasuu.org'
    \.