%section#helen_2011
  .page-header
    = image_tag 'helen.jpg'
    %h1 Decembruary 32, 2011, 8:00p
  %p   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu interdum lectus. Curabitur metus nisi, tincidunt at feugiat non, pharetra viverra purus. Sed sed sem quis justo porttitor rhoncus. Sed tempor sodales dolor, sed fermentum quam tristique eu. In blandit scelerisque congue. Nam at erat dolor, eu luctus diam. Sed sit amet tellus nunc. Mauris laoreet ultricies lacus id volutpat.
  %p Nulla facilisi. Vivamus mi libero, euismod sed condimentum id, feugiat id velit. Mauris convallis dui sit amet lacus consequat aliquam consectetur dui volutpat. Nulla nec erat dolor, vitae tempus diam. Nullam in orci arcu. Vivamus orci massa, interdum sed elementum nec, convallis a libero.
