%section#latin_2011
  .page-header
    = image_tag 'latin-jazz-1.jpg'
    %h1 Marchuary 35, 2011, 8:00p
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae felis dui. Etiam ac lectus vel felis mollis iaculis ut quis orci. Integer velit enim, feugiat at dictum sed, porttitor ac nulla.
  %p Nunc egestas arcu at massa congue nec consectetur erat imperdiet. Cras fringilla nisl interdum massa aliquam in tempor metus condimentum. Nulla fringilla fermentum elit at tincidunt. Nam vitae ante augue. Phasellus ut leo vitae augue aliquam venenatis id sed ligula. Nulla facilisis tincidunt metus, vitae mollis dui aliquet in.
  %p Etiam accumsan ultrices purus et rhoncus. Curabitur eget orci diam, sit amet congue risus. Quisque pretium consequat dui eget cursus. Etiam vel augue mi, in dictum velit.
  %p Suspendisse adipiscing, diam et fringilla suscipit, erat ligula feugiat sapien, nec bibendum mauris dolor ut lacus. Curabitur sit amet odio lorem, a fringilla diam. Pellentesque auctor ipsum ut neque tempor vitae blandit tellus sodales.
