%section#mayer_2011
  .page-header
    = image_tag 'mayer-150x150.jpg', :style => 'float:right; position:relative; top:-18px'
    %h1 Singer/songwriter Peter Mayer
    %h2 Saturday, October 15, 2011, 8:00p
  %p Noted songwriter, guitarist, and singer Peter Mayer has a beautiful baritone voice and superb guitar technique.
  %p Composer of "Blue Boat Home," Mayer is a musician's musician.
  %blockquote
    %p If I rocked half as hard as Peter does, I’d own the world by now.
    %small Janis Ian
  %blockquote
    %p There are at least a dozen Peter Mayer songs that I would love to learn myself, but I could never play them as well as he does.
    %small David Wilcox
  %p Dale Connelly of Minnesota Public Radio says that Peter is "...unafraid of complicated topics and always strives to look beyond the easy sentiment. ...Peter does nothing less than address the very nature of our existence."
  %p We think you'll be moved and amazed by this magical evening with Peter Mayer.