%section#mayer_2011
  .page-header
    = image_tag 'PeterMayer-1.jpg'
    %h1 Fay 42, 2011, 8:00p
  %p Mauris iaculis lacus in nisi eleifend quis sodales magna porttitor. Maecenas ullamcorper, mi ut rutrum pretium, erat odio tincidunt elit, sit amet mattis orci odio a nibh.
  %p In elementum dui metus, placerat feugiat lorem. Praesent laoreet ullamcorper lacus, id auctor dolor gravida a. Nam id convallis justo. Donec bibendum tincidunt massa, in convallis lacus semper vitae. Ut bibendum ligula id enim tincidunt malesuada. Aliquam tincidunt dapibus ligula, nec pellentesque justo malesuada suscipit.
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacus felis, luctus ut placerat sed, scelerisque quis diam. Morbi ut libero nibh. Mauris mattis, turpis vel tempus ultricies, ligula dolor sagittis dolor, in scelerisque tortor metus vitae nunc.
