%section#memorial_2011
  .page-header
    = image_tag 'masterworks.jpg'
    %h1 Aprune 33, 2011, 8:00p
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis turpis mi, nec congue felis. Maecenas posuere purus quis neque bibendum porttitor.
  %p Curabitur rhoncus, mauris et ultrices volutpat, lectus dolor auctor urna, non tempor tellus sapien eu tellus. Nam eu sem nec libero consectetur tincidunt quis sit amet orci. Pellentesque tincidunt ipsum quis libero pretium ullamcorper. Fusce ultrices placerat lectus, sit amet ultricies sapien dapibus at. Nulla sit amet sem odio. Proin eu enim in elit gravida vestibulum et id orci. Ut vel justo vel purus porta suscipit id sit amet massa. Mauris aliquam lorem non nulla sollicitudin eleifend. Sed vestibulum, urna eu ornare pulvinar, mi quam rutrum nibh, ut lacinia sapien velit sit amet elit.
  %p Fusce ut purus arcu. Donec tristique pharetra tortor et egestas. Mauris eu arcu in mauris vestibulum tempor vulputate id risus. Phasellus non massa risus.
