%section#concerts
  .page-header
    %h1 2011-2012 Season Concerts
  %p The inaugural season of Concerts in the Clearing brings you a real variety of musical pleasures, hand-picked to bring you quality performances ranging from guitar to vocals to flute to Latin percussion.
  %p 
  %p Click on the concert links at left to learn more about this season's concerts and to reserve your tickets.
