%section#concerts
  .page-header
    %h1 2011-2012 Season Concerts
  %p Short intro to this season.
  %p Click on the concert links at left to learn more about this season's concerts and to reserve your tickets.
