.topbar-wrapper
  .topbar{:style => 'height:auto; font-size:inherit; line-height:inherit'}
    .fill
      .container
        = logo_image_for_header
        = render "/layouts/#{nav_list}_nav"
      %div{:style => 'text-align:center'}
        = image_tag 'clearing2-header.jpg', :style => 'height:79px; width:1920px'
%div{:style => 'clear:both; height:5.0em'}
  %p &nbsp;
