%ul
  %li
    = link_to 'Admin Dashboard', admin_path
  %li.dropdown
    = link_to 'Reservations', '#', :class => 'dropdown-toggle'
    %ul.dropdown-menu
      %li
        = link_to 'Concert 1', admin_path
      %li
        = link_to 'Concert 2', admin_path
